# Environments
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Log and Output files
*.log
evaluation_run_log*.txt
run_main_log*.txt
all_vlms_output*.txt
pipeline_run.json


# Zipped packages

